[submodule "include/raylib"]
	path = include/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "include/sdl3-uwp"]
	path = include/sdl3-uwp
	url = https://github.com/SternXD/SDL3-uwp.git


